*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
section{
    margin-bottom: 55px;
}
.half-width{
    width: 50%;
}
.container{
    max-width: 1100px;
    margin: auto;

}
.row{
    display: flex;
    
}
.others-color{
    color: orange;
}

.banner-heading h1 {
    font-size: 50px;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
}
.banner-heading {
    border-left: 4px solid tomato;
    margin-top: 88px;
}
.banner-right-image img {
    width: 75%;
    margin-left: 50px;
}
.banner-left-content p {
    margin-top: 45px;
    font-size: 18px;
    line-height: 24px;
}



.mybtn {
    margin-top: 30px;
    padding: 13px 20px;
    background-color: tomato;
    width: 105px;
    border-radius: 5px;
}
.mybtn a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
   
}


.mission-box {
    width: 32%;
    margin: 0px 12px;
    border-radius: 15px;
    padding: 23px;
    
}
.mission-heading-text {
    text-align: center;
    margin-bottom: 40px;
}

.mission-heading-text h1{
    font-size: 42px;
    color: #13103A;
    font-weight: bold;
}
.mission-box img {
    width: 50%;
}

.mission-box.box-1{
    background: #EDF5F6;
}
.mission-box.box-2{
    background: #FFEEEE;
    
}


.mission-box.box-3{
    background: #FFF4D6;
}
.mission-box h3 {
    margin: 15px 0px;
    font-size: 23px;
}
.mission-box p {
    
    font-size: 17px;
    line-height: 24px;
}
.about-left-content img{
    width: 90%;
}
.w-40{
    width: 40%;
}
.w-80{
    width: 60%;
}
.about-right-content h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-right-content h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 33px;
}
.about-right-content p {
    
    font-size: 17px;
    line-height: 25px;
}
.mybtn.about{
    width: 180px;
}

section#about {
    position: relative;
}
img.shape {
    position: absolute;
    width: 15%;
    left: 30px;
    z-index: -1;
    top: 15%;
}

#community{
    margin-top: 55px;
    position: relative;
}
.community-right-content .project-img{
    width: 90%;
}

.community-left-content h1 {
    font-size: 40px;
}
.community-left-content p{
    margin-top: 20px;
    font-size: 17px;
    line-height: 24px;
}

.community-left-content {
    margin-top: 35px;
}

.community-shape {
    position: absolute;
    width: 14%;
    right: 80px;
    z-index: -1;
    top: 68%;
}